.flex{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.box{
	border: 1px solid #000;
	box-shadow: 2px 2px 4px $lightBlue;
	background-color: #fff;
	display: inline-block;
	padding: 0.25% 2%;
}

.row{
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
}