/* Media Queries */

// max widths based on twitter's bootstrap media queries
$larger: 1200px;
$desktop: 992px;
$tablet: 768px;
$mobile: 480px;
$smaller: 320px;

// extra large devices
@media only screen and(max-width: $larger){

}

// standard desktop
@media only screen and (max-width: $desktop){

}

// standard tablet
@media only screen and (max-width: $tablet){
  body{
  	font-size: 1.1em;

  .header{
  	margin-top: 10%;
  	h1{
      font-size: 1.7em;
      margin: 0 auto;
  	  width: 100%;
  	  .desk-span{display:none};
  	}

  	.mobile-div{
  	  	display: block;
  	  	font-family: 'Muli', sans-serif;
		font-weight: 300;
		line-height: 3em;
		margin-left: 2em;
		text-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);
  		
  		span{
  			margin-right: 2%;
  		}
  	}

  	.info-box{
  		margin-top: 26%;
  		padding: 3% 5%;
  	}
  }

  .about{
  	margin-top: 25%;
  }

  .work{
  	background-color: #000;
  	.portfolio{
  	  .flex-container{
  		flex-wrap: wrap;
	  }
  	}
  	.projects{
  		width: 100%;
  	}
  }

  }
}

// standard mobile
@media only screen and (max-width: $mobile){

}

// extra small devices
@media only screen and (max-width: $smaller){

}