$mainText: #000;
$darkBlue: #3616c5;
$darkerBlue: #0E0851;
$paleBack: #f4f4f4;
$lightBlue: #aea1e7;

@import '_extensions';

// main page styles
*{transition: all 0.2s};
.mobile-div{display: none;}


body{
	background-color: $paleBack;

	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;

	.flex-container{
		@extend .flex;
		margin: 0 auto;
	}

	ul{
		padding: 0;

		li{
			list-style-type: none;
			padding: 0;
		}
	}

}

.nav{
	background-color: $paleBack;
	letter-spacing: 0.1em;
	position: fixed;
	top: 0;
	width: 100vw;

	&:hover .underline{
		width: 25em;
	}

	ul{
		text-align: center;
		width: 100%;
		li{
			display: inline-block;
			padding: 0.5% 2%;
			text-transform: uppercase;

			&:last-child{
			}

			a:hover{
				color: $darkBlue;
				cursor: pointer;
			}
		}
	}
	.underline{
		@extend .flex;

		background-color: $mainText;
		display: block;
		height: 2px;
		margin: 0 auto;
		transition: width 0.2s;
		width: 0;
	}
}

.header{
	background: url(../images/ink-vinyl-blue-crop.png) right/contain no-repeat;

	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.5em;

	height: 18em;
	letter-spacing: 0.2em;
	margin: 5%;
	padding-top: 10%;

	h1{
		letter-spacing: 0.2em;
		margin: 0 0 5% 8%;
		text-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);

		span{
			font-family: 'Muli', sans-serif;
			font-size: 0.5em;
			font-weight: 300;
			line-height: 3em;
			margin-left: 2em;
			text-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);
		}
	}

	.info-box{
		@extend .box;
		margin-left: 10%;

		ul{
			li{
				font-size: 0.8em;
				margin-bottom: 0.7em;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

.section{
	width: 100%;
	div{padding:0; margin: 0}

	h3{// border: 1px solid red;
		font-family: 'Muli', sans-serif;
		font-size: 1.5em;
		font-weight: 300;
		letter-spacing: 0.1em;
		margin: 0 0 -5% 0;
		padding: 1% 5%;
	}

	.content{
		margin: 0 auto;
		padding: 5%;

		.subhead{// border: 1px solid green;
			font-family: 'Muli', sans-serif;
			font-size: 1.2em;
			letter-spacing: 0.1em;
			margin: 0;
			padding: 2% 4%;
			text-align: center;
			width: 100%;
		}
	}
}

/* Fonts and Typography */
.tiny{
	font-size: 0.5em;
}

a{
	color: $mainText;
	text-decoration: none;
}

/* Section Specific Styles */
.about{
	.content{

		p{
			font-size: 1.2em;
			letter-spacing: 0.05em;
			margin-left: 2%;
		}

		.skills {
			align-items: stretch;
		}

		.skill-box{
	      @extend .box;
	      font-family: 'Source Sans Pro', sans-serif;
	      font-size: 1.2em;
	      letter-spacing: 0.1em;
	      margin-top: 3%;
	      margin-left: 4%;
	      width: 15em;

		  h5{
		  	font-family: 'Muli', sans-serif;
		  	font-size: 1.1em;
		  	font-weight: 300;
		  	margin-top: 1em;
				margin-bottom: -5%;
		  }

		  ul{
		  	li{
		  		font-weight: 300;
		  		margin-left: 0.5em;
		  	}
		  }
		}
	}
}

.work{
  .row{ 
	padding-right: 5%;
	padding-left: 5%;
  }

  .portfolio{

  	.flex-container{
  		flex-wrap: nowrap;
  		justify-content: center;
  	
			&.projects-container{
				align-content: flex-start;
				align-items: flex-start;
				flex-wrap: wrap;
			}
  	}

  	.project {
  		@extend .flex;

  		//background-color: darken($paleBack, 10%);
			height: 14em;
			margin: 1em 0;
			padding: 0;
			width: 100%;

			transition: 0.5s ease all;

			&:hover {
				background-color: darken($paleBack, 10%);
				text-align: right;

				#view {
					color: $darkerBlue;
					font-weight: 400;
					letter-spacing: 0.2em;
				}
			}

			a {
				display: flex;
				justify-content: space-around;
				width: 100%;
			}

  		img {
  			flex-grow: 1;
  			height: auto;
  			margin: 0 0 0 1em;
  			max-height: 15em;
  			max-width: 24em;
				width: auto;
  		}

			.proj-box-cont {
				display: flex;
				align-content: center;
				align-items: center;
				flex-grow: 1;
				justify-content: center;
				text-align: center;
				//width: 100%;
				vertical-align: center;
			
  			.proj-box {
  				@extend .box;

  				flex-grow: 1;
  				margin: 0 2em;
  				padding: 0.5em 1em;
  				min-width: 15em;

  				h3 {
  					margin: 0.25em 0;
  					padding: 0;
  					text-align: left;
  				}

  				.details {
  					color: lighten(#000, 60%);
  					margin: 0 0.5em 0 0;
  					text-align: right;

  					&:first-child {
  						margin: 0.5em 0 0 0;
  						text-align: left;
  					}
  				}
  			}
  		}
  	}

		/* old styles
  	.project{ //border: 1px solid blue;
  		cursor: pointer;
  		margin: 2% 2%;
  		width: 25%;

  		&:hover {
  			.box {
  				box-shadow: 2px 2px 4px $lightBlue;
  			}
  			img {
  				box-shadow: 2px 2px 4px $lightBlue;
  			}
  		}

  		img{
  			width: 100%;
  		}

  		.box{
  			margin-top: 1em;
  			padding-top: 4%;
  			padding-bottom: 4%;
  			text-align: center;
  			width: 100%;

  			.line{
  				background-color: $mainText;
  				height: 1px;
  				margin: 0 auto 1em auto;
  				width: 80%;
  			}

  			.proj-title{
  				font-family: 'Muli', sans-serif;
  				font-size: 1.1em;
  				font-weight: 300;
  				margin-bottom: 0.5em;
  			}
  		}
  	}*/
  }
  
  .client-work{
  	//border: 1px solid orange;
  	margin: 4% 0;

  	.flex-container{
  	  flex-wrap: nowrap;
  	}
	.work-img{
		flex-shrink: 2;
		margin: 0;
		width: 85%;
	}
	p{
		@extend .box;
		flex-shrink: 1;
		font-size: 1.3em;
		height: 100%;
		margin: 0;
		padding: 5% 4%;
		width: 50%;

		.qu-author{
			margin-top: 1%;
		}
	}
  }

  .livestream{

  	img{
  		width: 100%;
  	}

  	p{
  		@extend .box;
  		font-size: 1.3em;
  		padding: 2% 3%;
  		text-align: center;
  	}
  }
}

.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	background-color: #0E0851;
	color: $paleBack;
	margin: 0;
	width: 100%;

	h3{
		padding-top: 3%;
		width: 100%;
	}

	.contact-content {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		width: 100%;

		div {
			/*margin-right: 1em;

			&:last-child{
				margin-right: 0;
			}*/

			a{
				color: $paleBack;
				padding: 1em;

				&:hover {
					color: $lightBlue;
					transition: 0.1s ease all;
				}
			}

			.icon{
				font-size: 4em;
			}
		}
	}
}

.resume{
	background-color: rgba(0,0,0,0.2);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	.resume-inside{
		background-color: #fff;
		border-radius: 0.5em;
		margin: 3% 10%;
		padding: 2% 4%;
	}
}

@import 'media';