@import 'extensions';

$mainText: #000;

// main page styles
*{transition: all 0.5s};

body{
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%;

	.flex-container{
		@extend .flex;
		margin: 0 auto;
	}

	ul{
		padding: 0;

		li{
			list-style-type: none;
			padding: 0;
		}
	}

}

.nav{
	letter-spacing: 0.1em;
	position: fixed;
	top: 0;
	width: 100%;

	&:hover .underline{
		width: 22em;
	}

	ul{
		li{
			display: inline-block;
			margin-right: 2em;
			text-transform: uppercase;

			&:last-child{
				margin-right: 0;
			}
		}
	}
	.underline{
		@extend .flex;

		background-color: $mainText;
		display: block;
		height: 2px;
		margin: 0 auto;
		transition: width 0.2s;
		width: 0;

		.nav:hover &{
			width: 10em;
		}
	}
}

.header{
	background: url(../images/ink-pic-blue.png) right/contain no-repeat;

	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.5em;

	height: 18em;
	letter-spacing: 0.2em;
	margin: 5%;
	padding-top: 10%;

	h1{
		letter-spacing: 0.2em;
		margin: 0 0 5% 8%;

		span{
			font-family: 'Muli', sans-serif;
			font-size: 0.5em;
			font-weight: 300;
			line-height: 3em;
			margin-left: 2em;
			text-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);
		}
	}

	.info-box{
		@extend .box;
		margin-left: 10%;

		ul{
			li{
				font-size: 0.8em;
				margin-bottom: 0.7em;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

/* Fonts and Typography */
.tiny{
	font-size: 0.5em;
}